*~
*.rpath
*.pot
*.mo
*.gmo
*.o
*.lo
*.la
*.bak
*.stamp
*.tar.gz
*.pc
*.sed
*.sin
*.header
.libs
.deps
ABOUT-NLS
INSTALL
Makefile
Makefile.in
Makefile.in.in
Makevars
aclocal.m4
autom4te.cache/
config.guess
config.log
config.sub
configure
depcomp
gtk-doc.make
install-sh
ltmain.sh
m4/
missing
config.h
config.status
docs/reference/version.xml
docs/reference/html/
docs/reference/xml/
libtool
stamp-h1
tests/date_entry
POTFILES
mkinstalldirs
stamp-it
intltool-*
Rules-quot
tests/plugin_gtkform
*.exe
compile
gtk-doc.m4
